.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
            background-color: #488745; /* Color de fondo gris claro */
            margin: 0; /* Elimina el margen predeterminado del body */
            padding: 20px; /* Espaciado alrededor del contenido */
        }
.header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: rgb(41, 72, 97); /* Color de fondo rojo */
            color: rgb(255, 255, 255); /* Color del texto */
            border-radius: 5px; /* Bordes redondeados */
        }